**STAR PATTERN**
> Here we will make an Star Patterns :
1. Square
2. Half Left Triangle
3. Half Left Down Triangel
4. Triangle
5. Trapezium

âš› Note (Most of the variables below are used for) : 
*   i = row
*   j = column
*   x = additional var for pattern

**1. SQUARE**

In [ ]:
for i in range(5): #for Row
  for j in range(5): #for Column
      print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

**2. HALF LEFT TRIANGLE**

In [ ]:
for i in range(5): #for Row
  for j in range(i+1): #for Column
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

**3. HALF LEFT DOWN TRIANGLE**

In [ ]:
for i in range(6,0,-1): #want to make 5 row, so start with 6
  for j in range(i-1):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

**4. TRIANGLE**

In [ ]:
for i in range(1,6): #for row
  for j in range(i,6): #for spacing and column
    print(end=" ")
  for x in range(0, i): #for star output
    print("*", end=" ")
  print()

     *
    * *
   * * *
  * * * *
 * * * * *

**5. TRAPEZIUM**

In [ ]:
for i in range(3,6): #for row
  for j in range(i,6): #for spacing and column
    print(end=" ")
  for x in range(0, i): #for star output
    print("*", end=" ")
  print()

   * * *
  * * * *
 * * * * *